
h1{
    font-family: var(--font-card);
    font-size: 1rem;
}

.Card{
       
    font-family: var(--font-card);
    font-size: .5rem;

}    

input{
    height: 1rem;
    font-size: .5rem;
    margin-left: .5rem;
}

