
form{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}

h1{
    font-family: var(--font-card);
    font-size: 1.5rem;
    margin: 5rem 0 2rem 0;
}

.Card{
    margin: 0 2rem ; 
    font-family: var(--font-card);
    font-size: .8rem;

    &__inputWraper{
        display: flex;
        flex-direction: column;      
    }

    &__inputCode{
    display: flex;
     
    }

    &__inputExpDate{
        display: flex;
        flex-direction: column;  
 
    }


    &__inputCVC{
        display: flex;
        flex-direction: column; 
        margin-left: 3rem; 
    }

}    

input{
    height: 2rem;
    font-size: .8rem;
    margin-bottom: .6rem;
    padding-left: .5rem;
}

input[id="cardNumber"], input[id="cardName"]{
    width: 20rem;
}

input[id="month"], input[id="year"], input[id="CVC"] {
    width: 5rem; 
  }

label{
    margin-bottom: .2rem;
}



button{
    margin-top: 1rem;
    padding: .5rem 2rem;
    border: none;
    background-color: var(--color-button);
    color: white;
    border-radius: 2rem;
    font-size: 1.1rem;
         
}

button:hover{
    background-color: var(--button-hover);
    cursor: pointer;
}