@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');


*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
 /*colors*/
 --color-button : #803ebf ;
 --button-hover: #bb56d4;

 /*fonts*/
  --font-card: 'Roboto', sans-serif;

 /*acessibility*/
 font-size: 62.5%;
}

body{
  background-image: linear-gradient(to right, #33085b  50%, white 50%);
}