@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');


*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
 /*colors*/

 /*fonts*/
  --font-card: 'Roboto', sans-serif;

 /*acessibility*/
 font-size: 62.5%;
}

body{
  background-image: linear-gradient(to right, rgb(51, 8, 91) 50%, white 50%);
}